.mainBox {
  padding: 20px;
}

.centerBox {
  max-width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.titleBox {
  & > .title {
    color: transparent;
    background-image: linear-gradient(45deg, purple, pink);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 50px;
  }

  & > .titleNewsletter {
    color: var(--gray);
    font-size: 30px;
    letter-spacing: 9px;
    font-weight: 200;
    transform: translateY(-50%);
    background-color: var(--background);
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.emailInput {
  padding: 10px;
  margin-bottom: 20px;
}

.submitBtn {
  padding: 10px;
  background-color: rgba(229, 0, 229, 0.596);
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .submitBtn {
    background-color: purple;
  }
}

.messages {
  margin-top: 5px;
}
